---
layout: default
---

<div class="container">
<h1 class="mt-5">{{ page.title }}</h1>
{% for post in site.posts %}
<div class="post-area">
  <a href="{{ post.url | prepend: site.baseurl }}" class="bold">{{ post.title }}</a>
  <p class="post-date">{{ post.date | date_to_long_string }}</p>
  <p>
    {{ post.content | strip_html | truncatewords: 50 }}
  </p>
</div>
{% endfor %}
</div>
<footer class="footer">
  <div class="container">
    <span class="text-muted">&copy; 2021 <a href="https://stephma.net" target="_blank">Stéphane Manet</a> - <a href="https://timeline.knightlab.com/" target="_blank">Timeline.JS</a></span>
  </div>
</footer>
